.row1{
    /* The image used */
    background-image: url('../images/bg.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.header {
  padding: 5%;
  margin:5%;
}
.contents {
  padding:5%;
  margin:10%;
}
.jumbotron{
  background-image: url('../images/bg.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.edu{
  background-color: #D7D7D9;
  padding:5%;
}